<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>register </title>
</head>
<body>

 <form method="POST" action="/register">
    <label for="username" name="username">Username</label>
    <input type="text" name="username" required>
    <label for="password" name="password">Password</label>
    <input type="password" name="password" required>
    <label for="email" name="email">Email</label>
    <input type="email" name="email" required>
    <input type="submit" value="register">
 </form>
</body>